/* ########### FONTS ############ */
@font-face {
  font-family: "lt-wave-regular";
  src: url("../assets/fonts/lt-wave-regular.otf");
}
@font-face {
  font-family: "lt-wave-bold";
  src: url("../assets/fonts/lt-wave-bold.otf");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background-color: #FEFBEB !important;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FEFBEB;
}

::-webkit-scrollbar-thumb {
  background: #F7E361;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F2D202;
}

/* ########### HEADER ########### */
.header {
  height: 75px;
  width: 100%;
  background: #F7E361;
}
.header .header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 15px;
}
.header .header-nav .nav-data {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-nav .nav-data .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .header-nav .nav-data .nav-logo img {
  height: 40%;
}
.header .header-nav .nav-data .nav-toggle {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
  justify-content: center;
  align-items: center;
}
.header .header-nav .nav-data .nav-toggle .nav-burger, .header .header-nav .nav-data .nav-toggle .nav-close {
  position: absolute;
  width: max-content;
  height: max-content;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.header .header-nav .nav-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-nav .nav-menu .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.header .header-nav .nav-menu .nav-list .nav-list-link {
  position: relative;
  text-decoration: none !important;
  list-style: none !important;
  color: #321536;
  width: fit-content;
  font-size: 18px;
  font-family: "lt-wave-bold";
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-link:hover {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .nav-list-link:active {
  transition: all 0.1s ease;
  color: #632B6C;
}
.header .header-nav .nav-menu .nav-list .active {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .contact-us {
  padding-left: 100px;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link {
  position: relative;
  cursor: pointer;
  text-decoration: none !important;
  list-style: none !important;
  color: #321536;
  width: fit-content;
  font-size: 18px;
  font-family: "lt-wave-bold";
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link:hover {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link:active {
  transition: all 0.1s ease;
  color: #632B6C;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu {
  background: #F7E361;
  border-left: #843A91 4px solid;
  position: absolute;
  display: flex;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu .dropdown-menu-link {
  cursor: pointer;
  padding: 0px 20px;
  text-decoration: none !important;
  list-style: none !important;
  color: #321536;
  font-size: 18px;
  font-family: "lt-wave-bold";
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu .dropdown-menu-link:hover {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu .dropdown-menu-link:active {
  transition: all 0.1s ease;
  color: #632B6C;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown:hover .nav-dropdown-menu {
  opacity: 1;
  height: 86px;
  max-height: 1000px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .header .header-nav {
    flex-direction: row;
    padding: 0;
  }
  .header .header-nav .nav-data {
    width: 100%;
  }
  .header .header-nav .nav-data .nav-toggle {
    display: flex;
  }
  .header .header-nav .nav-menu {
    height: 100%;
    display: flex;
  }
  .header .header-nav .nav-menu .nav-list {
    opacity: 0;
    top: -350px;
    padding: 15px 0;
    width: 100%;
    background: #F7E361;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    gap: 15px;
    transition: all 0.3s ease;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-link {
    padding-left: 15px;
  }
  .header .header-nav .nav-menu .nav-list .contact-us {
    padding-left: 0px;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown {
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link {
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu {
    position: relative;
    left: 0;
    width: 100%;
  }
}
/* ### DESKTOP ### */
@media (min-width: 577px) and (max-width: 1350px) {
  .header .header-nav {
    flex-direction: row;
  }
  .header .header-nav .nav-data {
    width: 100%;
  }
  .header .header-nav .nav-data .nav-toggle {
    display: flex;
  }
  .header .header-nav .nav-menu {
    height: 100%;
    display: flex;
  }
  .header .header-nav .nav-menu .nav-list {
    opacity: 0;
    top: -350px;
    padding: 15px 0;
    width: 100%;
    background: #F7E361;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    gap: 15px;
    transition: all 0.3s ease;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-link {
    padding-left: 15px;
  }
  .header .header-nav .nav-menu .nav-list .contact-us {
    padding-left: 0px;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown {
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link {
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu {
    position: relative;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 1351px) and (max-width: 1444px) {
  .header .header-nav .nav-menu .nav-list .contact-us {
    padding-left: 25px;
  }
}
.show-menu {
  opacity: 1 !important;
  top: 75px !important;
}

.nav-close {
  opacity: 0;
}

.show-icon .nav-burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* ############ MAIN ############ */
p {
  color: #321536;
  font-size: 18px !important;
}

h2 {
  font-family: "lt-wave-bold";
  text-align: center;
  color: #321536 !important;
  font-size: 48px !important;
}
h2 span {
  color: #843A91;
}

.fonts {
  font-family: "lt-wave-regular";
  font-size: 20px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  h2 {
    font-size: 26px !important;
  }
}
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION BANNER ### */
.banner {
  height: 92vh;
  width: 100%;
  background: url("../assets/image/banner-bg/banner-bg-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner .banner-content {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
  gap: 15px;
}
.banner .banner-content .slogan-p {
  font-size: 40px;
  width: 100%;
  font-weight: 600;
  color: #FFF;
  text-align: center;
}
.banner .banner-content .slogan-h {
  font-size: 80px;
  font-family: "lt-wave-bold";
  color: #FFF;
}
.banner .banner-content .slogan-h span {
  color: #843A91;
}
.banner .banner-content .mini-slogan {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #FFF;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .banner .banner-content {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner .banner-content .slogan-p {
    font-size: 26px;
    width: 100%;
    font-weight: 600;
    color: #FFF;
    text-align: center;
  }
  .banner .banner-content .slogan-h {
    font-size: 52px;
    font-family: "lt-wave-bold";
    color: #FFF;
  }
  .banner .banner-content .slogan-h span {
    color: #843A91;
  }
  .banner .banner-content .mini-slogan {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #FFF;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .banner .banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 974px) {
  .banner .banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* ### SECTION WHAT IS IT ### */
.what-is-it {
  width: 100%;
}
.what-is-it .wii-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-is-it .wii-content .wii-title {
  margin-top: 80px !important;
}
.what-is-it .wii-content .wii-texts {
  margin-top: 25px !important;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-is-it .wii-content .wii-texts .text {
  text-align: center;
  font-size: 24px;
}
.what-is-it .wii-content .wii-texts .text-list {
  margin-bottom: 80px !important;
  margin-top: 25px !important;
  font-size: 28px;
  padding: 0;
}
.what-is-it .wii-content .wii-texts .text-list li {
  font-weight: 600;
  padding-bottom: 10px;
}
.what-is-it .wii-content .wii-texts .text-list li span {
  color: #843A91;
}
.what-is-it .wii-content .wii-texts .text-list li::before {
  content: "\f0da";
  font-family: FontAwesome;
  display: inline-block;
  color: #843A91;
  font-size: 22px;
  margin-right: 10px;
}
.what-is-it .wii-content .wii-links {
  width: 100%;
  background: #F7E361;
  padding: 80px 0;
}
.what-is-it .wii-content .wii-links .links-cards {
  display: flex;
  justify-content: space-evenly;
}
.what-is-it .wii-content .wii-links .links-cards #coworking {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/wii/coworking.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards #formation {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/wii/formation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards #agenda {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/wii/agenda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards #agenda:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/image/wii/agenda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-is-it .wii-content .wii-links .links-cards #formation:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/image/wii/formation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-is-it .wii-content .wii-links .links-cards #coworking:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/image/wii/coworking.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-is-it .wii-content .wii-links .links-cards .links-card {
  margin: 15px !important;
  height: 300px;
  width: 412px;
  border-radius: 10px;
  border: 5px #F7E361 solid;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards .links-card:hover {
  border: 5px #843A91 solid;
  margin: 0 !important;
  height: 330px;
  width: 442px;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div h3 {
  font-family: "lt-wave-bold" !important;
  font-size: 32px !important;
  color: #F7E361;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: #F7E361;
  border: none;
  font-family: "lt-wave-regular";
  color: #212529;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div button:hover {
  background: #F2D202;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 577px) {
  .what-is-it .wii-content .wii-title {
    width: 320px;
  }
  .what-is-it .wii-content .wii-texts {
    width: 320px;
    display: block;
  }
  .what-is-it .wii-content .wii-texts .text {
    font-size: 16px;
  }
  .what-is-it .wii-content .wii-texts .text-list {
    font-size: 22px !important;
  }
  .what-is-it .wii-content .wii-texts li::before {
    font-size: 18px;
  }
  .what-is-it .wii-content .wii-links {
    width: 100%;
    background: #F7E361;
    padding: 50px 0;
  }
  .what-is-it .wii-content .wii-links .links-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card {
    width: 80%;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card:hover {
    width: 85%;
  }
}
/* ### TABLET ### */
@media (min-width: 578px) and (max-width: 794px) {
  .what-is-it .wii-content .wii-title {
    width: 500px;
  }
  .what-is-it .wii-content .wii-texts {
    width: 500px;
    display: block;
  }
  .what-is-it .wii-content .wii-links {
    width: 100%;
    background: #F7E361;
    padding: 50px 0;
  }
  .what-is-it .wii-content .wii-links .links-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card {
    width: 80%;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card:hover {
    width: 85%;
  }
}
/* ### DESKTOP ### */
@media (min-width: 795px) and (max-width: 1120px) {
  .what-is-it .wii-content .wii-texts {
    width: 750px;
  }
  .what-is-it .wii-content .wii-texts li {
    width: 600px;
  }
  .what-is-it .wii-content .wii-links {
    width: 100%;
    background: #F7E361;
    padding: 50px 0;
  }
  .what-is-it .wii-content .wii-links .links-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card {
    width: 80%;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card:hover {
    width: 85%;
  }
}
/* ### SECTION PARTNERS ### */
.partners {
  width: 100%;
}
.partners .part-content {
  display: flex;
  flex-direction: column;
}
.partners .part-content .part-title {
  margin: 80px 0 !important;
}
.partners .part-content .logos {
  overflow: hidden;
  padding: 30px 0;
  white-space: nowrap;
}
.partners .part-content .logos .logos-slide {
  display: inline-block;
  animation: slide 25s infinite linear;
}
.partners .part-content .logos .logos-slide img {
  height: 75px;
  margin: 0 40px !important;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .partners .part-content .logos .logos-slide img {
    height: 40px;
    margin: 0 20px !important;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .partners .part-content .logos .logos-slide img {
    height: 50px;
    margin: 0 30px !important;
  }
}
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION EVENT ### */
.event {
  width: 100%;
}
.event .event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event .event-content .event-title {
  margin-top: 80px !important;
}
.event .event-content .event-lists {
  display: flex;
  flex-direction: column;
  margin: 50px 0 !important;
}
.event .event-content .event-lists .list-event {
  cursor: default;
  width: 1000px;
  height: 70px;
  border-left: 5px solid #843A91;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.event .event-content .event-lists .list-event .event-date {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event .event-content .event-lists .list-event .event-name {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
.event .event-content .event-lists .list-event .event-name p {
  text-align: left;
}
.event .event-content .event-lists .list-event:hover {
  border-left: 20px solid #843A91;
}
.event .event-content .event-button {
  width: 1000px;
  margin-bottom: 80px !important;
}
.event .event-content .event-button button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: #F7E361;
  border: none;
  font-family: "lt-wave-regular";
  color: #212529;
  transition: all 0.3s ease;
}
.event .event-content .event-button button:hover {
  background: #F2D202;
}

/* ### SECTION EVENT 2 ### */
.event-contact {
  width: 100%;
  background: linear-gradient(0deg, rgba(74, 32, 81, 0.6) 0%, rgba(74, 32, 81, 0.6) 100%), url("../assets/image/bg/bg-contact.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.event-contact .ec-content {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.event-contact .ec-content .ec-title h2 {
  color: #F2D202 !important;
}
.event-contact .ec-content .ec-btn button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  background: #F7E361;
  border: none;
  font-family: "lt-wave-regular";
  color: #212529;
  transition: all 0.3s ease;
}
.event-contact .ec-content .ec-btn button:hover {
  background: #F2D202;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .event .event-content {
    width: 100%;
    padding: 0 30px;
  }
  .event .event-content .event-lists {
    width: 100%;
  }
  .event .event-content .event-lists .list-event {
    width: 100%;
  }
  .event .event-content .event-lists .list-event .event-name p {
    font-size: 12px !important;
  }
  .event .event-content .event-button {
    width: 100%;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .event .event-content {
    width: 100%;
    padding: 0 30px;
  }
  .event .event-content .event-lists {
    width: 100%;
  }
  .event .event-content .event-lists .list-event {
    width: 100%;
  }
  .event .event-content .event-button {
    width: 100%;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1080px) {
  .event .event-content {
    width: 100%;
    padding: 0 30px;
  }
  .event .event-content .event-lists {
    width: 100%;
  }
  .event .event-content .event-lists .list-event {
    width: 100%;
  }
  .event .event-content .event-button {
    width: 100%;
  }
}
/* ### SECTION CONTACT ### */
.contact {
  width: 100%;
  background: #843A91;
}
.contact .contact-content {
  width: 100%;
  display: flex;
}
.contact .contact-content .contact-map {
  width: 50%;
}
.contact .contact-content .contact-text {
  padding: 50px;
  width: 50%;
  color: #FEFBEB;
}
.contact .contact-content .contact-text h2 {
  color: #FEFBEB !important;
  text-align: left;
  position: relative;
}
.contact .contact-content .contact-text h2::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 150px;
  background: #F1D102;
  left: 0;
  bottom: -15px;
}
.contact .contact-content .contact-text p {
  color: #FEFBEB;
  line-height: 36px;
}
.contact .contact-content .contact-text .text-top {
  padding-top: 35px;
}
.contact .contact-content .contact-text .text-bot {
  padding-top: 35px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .contact .contact-content {
    flex-direction: column-reverse;
  }
  .contact .contact-content .contact-map {
    width: 100%;
    height: 400px;
  }
  .contact .contact-content .contact-text {
    width: 100%;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .contact .contact-content {
    flex-direction: column-reverse;
  }
  .contact .contact-content .contact-map {
    width: 100%;
    height: 400px;
  }
  .contact .contact-content .contact-text {
    width: 100%;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1182px) {
  .contact .contact-content {
    flex-direction: column-reverse;
  }
  .contact .contact-content .contact-map {
    width: 100%;
    height: 400px;
  }
  .contact .contact-content .contact-text {
    width: 100%;
  }
}
/* ### SECTION NEWSLETTER ### */
.newsletter {
  width: 100%;
}
.newsletter .newsletter-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter .newsletter-content .nl-title {
  margin-top: 80px !important;
}
.newsletter .newsletter-content .nl-input {
  margin-bottom: 80px !important;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px !important;
}
.newsletter .newsletter-content .nl-input form {
  width: 40%;
}
.newsletter .newsletter-content .nl-input form input {
  padding: 0 5px;
  width: 100%;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 3px solid #843A91;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0.3s ease;
}
.newsletter .newsletter-content .nl-input form input:focus {
  border-left: 3px solid #843A91;
  border-right: 3px solid #843A91;
  border-top: 3px solid #843A91;
  border-radius: 8px;
}
.newsletter .newsletter-content .nl-input button {
  cursor: pointer;
  height: 50px;
  width: 140px;
  border-radius: 8px;
  background: #F7E361;
  border: none;
  font-family: "lt-wave-regular";
  color: #212529;
  transition: all 0.3s ease;
}
.newsletter .newsletter-content .nl-input button:hover {
  background: #F2D202;
}
.newsletter .newsletter-content .nl-input button:active {
  transition: all 0.1s ease;
  background: #FAED9C;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .newsletter .newsletter-content .nl-input {
    flex-direction: column;
    align-items: center;
  }
  .newsletter .newsletter-content .nl-input form {
    width: 80%;
  }
  .newsletter .newsletter-content .nl-input button {
    cursor: pointer;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background: #F7E361;
    border: none;
    font-family: "lt-wave-regular";
    color: #212529;
    transition: all 0.3s ease;
  }
  .newsletter .newsletter-content .nl-input button:hover {
    background: #F2D202;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .newsletter .newsletter-content .nl-input {
    flex-direction: column;
    align-items: center;
  }
  .newsletter .newsletter-content .nl-input form {
    width: 80%;
  }
  .newsletter .newsletter-content .nl-input button {
    cursor: pointer;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background: #F7E361;
    border: none;
    font-family: "lt-wave-regular";
    color: #212529;
    transition: all 0.3s ease;
  }
  .newsletter .newsletter-content .nl-input button:hover {
    background: #F2D202;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1024px) {
  .newsletter .newsletter-content .nl-input form {
    width: 60%;
  }
}
/* ### SECTION BANNER ### */
#formationBanner {
  height: 50vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url("../assets/image/banner-bg/formation-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

/* ### SECTION NAVIGATION ### */
.navigation {
  width: 100%;
}
.navigation .navigation-content {
  width: 100%;
  padding: 0 100px;
}
.navigation .navigation-content .navigation-title {
  margin-top: 80px !important;
}
.navigation .navigation-content .navigation-filters {
  display: flex;
  gap: 30px;
}
.navigation .navigation-content .navigation-filters button {
  padding-top: 30px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "lt-wave-regular";
  color: #321536;
}
.navigation .navigation-content .navigation-filters .active {
  width: fit-content;
  position: relative;
}
.navigation .navigation-content .navigation-filters .active:after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -2px;
  background: #321536;
}
.navigation .navigation-content .navigation-cards {
  padding-top: 50px;
  padding-bottom: 80px;
  display: grid;
  grid-template: " a b c d ";
  grid-auto-columns: minmax(0, 1fr);
  justify-items: center;
  gap: 20px;
}
.navigation .navigation-content .navigation-cards .navigation-card {
  padding: 30px;
  height: 400px;
  cursor: pointer;
  width: 100%;
  background: #843A91;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .navigation-content .navigation-cards .navigation-card h3 {
  transition: all 0.3s ease;
  font-family: "lt-wave-bold";
  color: #FEFBEB;
}
.navigation .navigation-content .navigation-cards .navigation-card p {
  padding: 5px 0;
  color: #FEFBEB;
}
.navigation .navigation-content .navigation-cards .navigation-card ul {
  padding: 0;
}
.navigation .navigation-content .navigation-cards .navigation-card ul li {
  font-weight: 600;
  padding-bottom: 10px;
  color: #F7E361;
}
.navigation .navigation-content .navigation-cards .navigation-card ul li::before {
  content: "\f0da";
  font-family: FontAwesome;
  display: inline-block;
  color: #F7E361;
  font-size: 18px;
  margin-right: 10px;
}
.navigation .navigation-content .navigation-cards .long:hover h3 {
  color: #F7E361;
}
.navigation .navigation-content .navigation-cards .short {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  cursor: default;
}
.navigation .navigation-content .navigation-cards .short .mini-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 22%;
  background: #843A91;
  border-radius: 8px;
}
.navigation .navigation-content .navigation-cards .short .mini-card .title {
  font-size: 20px;
  transition: all 0.3s ease;
}
.navigation .navigation-content .navigation-cards .short .mini-card .description {
  font-size: 12px;
}
.navigation .navigation-content .navigation-cards .short .none {
  background: none;
  cursor: default;
}
.navigation .navigation-content .navigation-cards .short .mini-card:hover .title {
  color: #F7E361;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .navigation .navigation-content {
    padding: 0 25px;
  }
  .navigation .navigation-content .navigation-filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .navigation .navigation-content .navigation-filters button {
    font-size: 14px;
  }
  .navigation .navigation-content .navigation-cards {
    grid-template: " a ";
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .navigation .navigation-content {
    padding: 0 50px;
  }
  .navigation .navigation-content .navigation-cards {
    grid-template: " a ";
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1500px) {
  .navigation .navigation-content {
    padding: 0 50px;
  }
  .navigation .navigation-content .navigation-cards {
    grid-template: " a b ";
  }
}
@media (min-width: 2000px) {
  .navigation .navigation-content {
    padding: 0 150px;
  }
  .navigation .navigation-content .navigation-cards {
    grid-template: " a b c d e";
  }
}
/* ### SECTION WHY MOLENGEEK ### */
.why-molengeek {
  width: 100%;
  background: #F6E361;
}
.why-molengeek .wm-content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 100px;
}
.why-molengeek .wm-content .wm-texts {
  width: 50%;
  max-width: 695px;
}
.why-molengeek .wm-content .wm-texts .wm-title h2 {
  text-align: left;
}
.why-molengeek .wm-content .wm-texts h4 {
  padding: 10px 0;
  line-height: 35px;
}
.why-molengeek .wm-content .wm-texts p {
  padding: 10px 0;
}
.why-molengeek .wm-content .wm-video {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .why-molengeek .wm-content {
    flex-direction: column;
    padding: 50px;
  }
  .why-molengeek .wm-content .wm-texts {
    width: 100%;
    max-width: 100%;
  }
  .why-molengeek .wm-content .wm-video {
    width: 100%;
    height: fit-content;
    justify-content: center;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .why-molengeek .wm-content {
    flex-direction: column;
    padding: 50px;
  }
  .why-molengeek .wm-content .wm-texts {
    width: 100%;
    max-width: 100%;
  }
  .why-molengeek .wm-content .wm-video {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1250px) {
  .why-molengeek .wm-content {
    flex-direction: column;
  }
  .why-molengeek .wm-content .wm-texts {
    width: 100%;
    max-width: 100%;
  }
  .why-molengeek .wm-content .wm-video {
    width: 100%;
    justify-content: center;
  }
}
/* ### SECTION TESTIMONIALS ### */
.testimonials {
  width: 100%;
}
.testimonials .test-content {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.testimonials .test-content .test-v {
  display: flex;
  gap: 30px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .testimonials .test-content {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .testimonials .test-content .test-v {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .testimonials .test-content .test-v iframe {
    width: 100% !important;
    height: auto;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .testimonials .test-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .testimonials .test-content .test-v {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 1250px) {
  .testimonials .test-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .testimonials .test-content .test-v {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
/* ### SECTION FAQ ### */
.faq {
  width: 100%;
  background: #FFF;
}
.faq .faq-title {
  padding-top: 80px;
  padding-bottom: 50px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ########### FOOTER ########### */
.footer {
  width: 100%;
  background: #261029;
}
.footer .footer-content {
  width: 100%;
}
.footer .footer-content .footer-links {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-bottom: #321536 3px solid;
}
.footer .footer-content .footer-links a {
  font-size: 50px;
  color: #321536;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
  background: #F7E361;
  border-radius: 8px;
  transition: all 0.3 ease;
}
.footer .footer-content .footer-links a:hover {
  background: #F2D202;
}
.footer .footer-content .footer-text {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.footer .footer-content .footer-text img {
  width: 500px;
}
.footer .footer-content .footer-text p {
  color: #FFF;
}
.footer .footer-content .footer-text .copyright {
  color: #655068;
}
.footer .footer-content .footer-text .copyright a {
  color: #655068;
  text-decoration: none !important;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .footer .footer-content .footer-links {
    display: grid;
    grid-template: " a b ";
    gap: 30px;
  }
  .footer .footer-content .footer-links a {
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .footer .footer-content .footer-text img {
    width: 320px;
  }
  .footer .footer-content .footer-text p {
    font-size: 14px;
  }
  .footer .footer-content .footer-text .copyright {
    font-size: 14px;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .footer .footer-content .footer-links {
    display: grid;
    grid-template: " a b ";
    gap: 30px;
  }
  .footer .footer-content .footer-links a {
    font-size: 30px;
    height: 50px;
    width: 50px;
  }
  .footer .footer-content .footer-text img {
    width: 320px;
  }
  .footer .footer-content .footer-text p {
    font-size: 14px;
  }
  .footer .footer-content .footer-text .copyright {
    font-size: 14px;
  }
}

/*# sourceMappingURL=app.css.map */
