/* ########### FONTS ############ */
@font-face {
  font-family: "lt-wave-regular";
  src: url("../assets/fonts/lt-wave-regular.otf");
}
@font-face {
  font-family: "lt-wave-bold";
  src: url("../assets/fonts/lt-wave-bold.otf");
}
/* ############ BODY ############  */
* {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0;
  text-decoration: none;
  list-style: none;
  min-width: 0;
}

body {
  background-color: #FEFBEB !important;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FEFBEB;
}

::-webkit-scrollbar-thumb {
  background: #F7E361;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F2D202;
}

/* ########### HEADER ########### */
.header {
  height: 75px;
  width: 100%;
  background: #F7E361;
}
.header .header-nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 15px;
}
.header .header-nav .nav-data {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-nav .nav-data .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header .header-nav .nav-data .nav-logo img {
  height: 40%;
}
.header .header-nav .nav-data .nav-toggle {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
  justify-content: center;
  align-items: center;
}
.header .header-nav .nav-data .nav-toggle .nav-burger, .header .header-nav .nav-data .nav-toggle .nav-close {
  position: absolute;
  width: max-content;
  height: max-content;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.header .header-nav .nav-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-nav .nav-menu .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.header .header-nav .nav-menu .nav-list .nav-list-link {
  position: relative;
  text-decoration: none !important;
  list-style: none !important;
  color: #321536;
  width: fit-content;
  font-size: 18px;
  font-family: "lt-wave-bold";
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-link:hover {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .nav-list-link:active {
  transition: all 0.1s ease;
  color: #632B6C;
}
.header .header-nav .nav-menu .nav-list .active {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .contact-us {
  padding-left: 100px;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link {
  position: relative;
  cursor: pointer;
  text-decoration: none !important;
  list-style: none !important;
  color: #321536;
  width: fit-content;
  font-size: 18px;
  font-family: "lt-wave-bold";
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link:hover {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link:active {
  transition: all 0.1s ease;
  color: #632B6C;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu {
  background: #F7E361;
  border-left: #843A91 4px solid;
  position: absolute;
  display: flex;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu .dropdown-menu-link {
  cursor: pointer;
  padding: 0px 20px;
  text-decoration: none !important;
  list-style: none !important;
  color: #321536;
  font-size: 18px;
  font-family: "lt-wave-bold";
  transition: all 0.3s ease;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu .dropdown-menu-link:hover {
  color: #843A91;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu .dropdown-menu-link:active {
  transition: all 0.1s ease;
  color: #632B6C;
}
.header .header-nav .nav-menu .nav-list .nav-list-dropdown:hover .nav-dropdown-menu {
  opacity: 1;
  height: 86px;
  max-height: 1000px;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .header .header-nav {
    flex-direction: row;
    padding: 0;
  }
  .header .header-nav .nav-data {
    width: 100%;
  }
  .header .header-nav .nav-data .nav-toggle {
    display: flex;
  }
  .header .header-nav .nav-menu {
    height: 100%;
    display: flex;
  }
  .header .header-nav .nav-menu .nav-list {
    opacity: 0;
    top: -350px;
    padding: 15px 0;
    width: 100%;
    background: #F7E361;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    gap: 15px;
    transition: all 0.3s ease;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-link {
    padding-left: 15px;
  }
  .header .header-nav .nav-menu .nav-list .contact-us {
    padding-left: 0px;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown {
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link {
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu {
    position: relative;
    left: 0;
    width: 100%;
  }
}
/* ### DESKTOP ### */
@media (min-width: 577px) and (max-width: 1350px) {
  .header .header-nav {
    flex-direction: row;
  }
  .header .header-nav .nav-data {
    width: 100%;
  }
  .header .header-nav .nav-data .nav-toggle {
    display: flex;
  }
  .header .header-nav .nav-menu {
    height: 100%;
    display: flex;
  }
  .header .header-nav .nav-menu .nav-list {
    opacity: 0;
    top: -350px;
    padding: 15px 0;
    width: 100%;
    background: #F7E361;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    left: 0;
    gap: 15px;
    transition: all 0.3s ease;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-link {
    padding-left: 15px;
  }
  .header .header-nav .nav-menu .nav-list .contact-us {
    padding-left: 0px;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown {
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-list-link {
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    width: 100%;
  }
  .header .header-nav .nav-menu .nav-list .nav-list-dropdown .nav-dropdown-menu {
    position: relative;
    left: 0;
    width: 100%;
  }
}
@media (min-width: 1351px) and (max-width: 1444px) {
  .header .header-nav .nav-menu .nav-list .contact-us {
    padding-left: 25px;
  }
}
.show-menu {
  opacity: 1 !important;
  top: 75px !important;
}

.nav-close {
  opacity: 0;
}

.show-icon .nav-burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* ############ MAIN ############ */
p {
  color: #321536;
  font-size: 18px;
}

h2 {
  font-family: "lt-wave-bold";
  text-align: center;
  color: #321536;
  font-size: 48px !important;
}
h2 span {
  color: #843A91;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  h2 {
    font-size: 26px !important;
  }
}
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ### SECTION BANNER ### */
.banner {
  height: 92vh;
  width: 100%;
  background: url("../assets/image/banner-bg/banner-bg-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.banner .banner-content {
  width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
  gap: 15px;
}
.banner .banner-content .slogan-p {
  font-size: 40px;
  width: 100%;
  font-weight: 600;
  color: #FFF;
  text-align: center;
}
.banner .banner-content .slogan-h {
  font-size: 80px;
  font-family: "lt-wave-bold";
  color: #FFF;
}
.banner .banner-content .slogan-h span {
  color: #843A91;
}
.banner .banner-content .mini-slogan {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #FFF;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .banner .banner-content {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner .banner-content .slogan-p {
    font-size: 26px;
    width: 100%;
    font-weight: 600;
    color: #FFF;
    text-align: center;
  }
  .banner .banner-content .slogan-h {
    font-size: 52px;
    font-family: "lt-wave-bold";
    color: #FFF;
  }
  .banner .banner-content .slogan-h span {
    color: #843A91;
  }
  .banner .banner-content .mini-slogan {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #FFF;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .banner .banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* ### DESKTOP ### */
@media (min-width: 769px) and (max-width: 974px) {
  .banner .banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* ### SECTION WHAT IS IT ### */
.what-is-it {
  width: 100%;
}
.what-is-it .wii-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-is-it .wii-content .wii-title {
  margin-top: 50px !important;
}
.what-is-it .wii-content .wii-texts {
  margin-top: 25px !important;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.what-is-it .wii-content .wii-texts .text {
  text-align: center;
  font-size: 24px;
}
.what-is-it .wii-content .wii-texts .text-list {
  margin-bottom: 50px !important;
  margin-top: 25px !important;
  font-size: 28px;
  padding: 0;
}
.what-is-it .wii-content .wii-texts .text-list li {
  font-weight: 600;
  padding-bottom: 10px;
}
.what-is-it .wii-content .wii-texts .text-list li span {
  color: #843A91;
}
.what-is-it .wii-content .wii-texts .text-list li::before {
  content: "\f0da";
  font-family: FontAwesome;
  display: inline-block;
  color: #843A91;
  font-size: 22px;
  margin-right: 10px;
}
.what-is-it .wii-content .wii-links {
  width: 100%;
  background: #F7E361;
  padding: 50px 0;
}
.what-is-it .wii-content .wii-links .links-cards {
  display: flex;
  justify-content: space-evenly;
}
.what-is-it .wii-content .wii-links .links-cards #coworking {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/wii/coworking.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards #formation {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/wii/formation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards #agenda {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/image/wii/agenda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards #agenda:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/image/wii/agenda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-is-it .wii-content .wii-links .links-cards #formation:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/image/wii/formation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-is-it .wii-content .wii-links .links-cards #coworking:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/image/wii/coworking.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.what-is-it .wii-content .wii-links .links-cards .links-card {
  margin: 15px !important;
  height: 300px;
  width: 412px;
  border-radius: 10px;
  border: 5px #F7E361 solid;
  transition: all 0.3s ease;
}
.what-is-it .wii-content .wii-links .links-cards .links-card:hover {
  border: 5px #843A91 solid;
  margin: 0 !important;
  height: 330px;
  width: 442px;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div h3 {
  font-family: "lt-wave-bold" !important;
  font-size: 32px !important;
  color: #F7E361;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div button {
  padding: 10px 20px;
  border-radius: 8px;
  background: #F7E361;
  border: none;
  font-family: "lt-wave-regular";
  color: #212529;
}
.what-is-it .wii-content .wii-links .links-cards .links-card div button:hover {
  background: #F2D202;
}

/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 577px) {
  .what-is-it .wii-content .wii-title {
    width: 320px;
  }
  .what-is-it .wii-content .wii-texts {
    width: 320px;
    display: block;
  }
  .what-is-it .wii-content .wii-texts .text {
    font-size: 16px;
  }
  .what-is-it .wii-content .wii-texts .text-list {
    font-size: 22px !important;
  }
  .what-is-it .wii-content .wii-texts li::before {
    font-size: 18px;
  }
  .what-is-it .wii-content .wii-links {
    width: 100%;
    background: #F7E361;
    padding: 50px 0;
  }
  .what-is-it .wii-content .wii-links .links-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card {
    width: 80%;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card:hover {
    width: 85%;
  }
}
/* ### TABLET ### */
@media (min-width: 578px) and (max-width: 794px) {
  .what-is-it .wii-content .wii-title {
    width: 500px;
  }
  .what-is-it .wii-content .wii-texts {
    width: 500px;
    display: block;
  }
  .what-is-it .wii-content .wii-links {
    width: 100%;
    background: #F7E361;
    padding: 50px 0;
  }
  .what-is-it .wii-content .wii-links .links-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card {
    width: 80%;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card:hover {
    width: 85%;
  }
}
/* ### DESKTOP ### */
@media (min-width: 795px) and (max-width: 1120px) {
  .what-is-it .wii-content .wii-texts {
    width: 750px;
  }
  .what-is-it .wii-content .wii-texts li {
    width: 600px;
  }
  .what-is-it .wii-content .wii-links {
    width: 100%;
    background: #F7E361;
    padding: 50px 0;
  }
  .what-is-it .wii-content .wii-links .links-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card {
    width: 80%;
  }
  .what-is-it .wii-content .wii-links .links-cards .links-card:hover {
    width: 85%;
  }
}
/* ### SECTION PARTNERS ### */
.partners {
  width: 100%;
}
.partners .part-content {
  display: flex;
  flex-direction: column;
}
.partners .part-content .part-title {
  margin-top: 50px !important;
}
.partners .part-content .logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}
.partners .part-content .logos .logos-slide {
  display: inline-block;
  animation: slide 20s infinite linear;
}
.partners .part-content .logos .logos-slide img {
  height: 75px;
  margin: 0 40px !important;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
@media (max-width: 576px) {
  .partners .part-content .logos .logos-slide img {
    height: 40px;
    margin: 0 20px !important;
  }
}
/* ### TABLET ### */
@media (min-width: 577px) and (max-width: 768px) {
  .partners .part-content .logos .logos-slide img {
    height: 50px;
    margin: 0 30px !important;
  }
}
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */
/* ########### FOOTER ########### */
/* ######### RESPONSIVE ######### */
/* ### SMARTPHONE ### */
/* ### TABLET ### */
/* ### DESKTOP ### */
/* ### BIG DESKTOP ### */

/*# sourceMappingURL=app.css.map */
